.cards {
    margin: 5vh 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

mat-form-field {
    background: white;
    width: 100%;
}

mat-card {
    margin: 5px 5px;
    height: 100px;
    width: 70px;
}

.black {
    color: black;
}
.red {
    color: darkred;
}
